# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
/Squad
/Tripartite 1.2.4.zip
/Tripartite 1.2.5.zip
/Tripartite 1.2.6.zip
/Tripartite 1.2.7.zip
/Tripartite 1.2.8.zip
/Tripartite 1.2.9.zip
/Tripartite 1.2.10.zip
/Tripartite 1.2.11.zip
/Tripartite 1.2.12.zip
/Tripartite 1.2.13.zip
/Tripartite 1.2.14.zip
/Tripartite 1.3.0.zip
/Tripartite 1.3.1.zip
/Tripartite 1.3.2.zip
/Tripartite 1.3.3.zip
/Tripartite 1.3.4.zip

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
