<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <debug>true</debug>
  <uiFadeSpeed>0.25</uiFadeSpeed>
  <uiElements>
    <UIData>
      <name>CraftHistory</name>
      <position>
        <x>192</x>
        <y>280</y>
        <z>0</z>
      </position>
      <active>false</active>
    </UIData>
    <UIData>
      <name>CraftHistorySettings</name>
      <position>
        <x>517.3</x>
        <y>360</y>
        <z>0</z>
      </position>
      <active>false</active>
    </UIData>
    <UIData>
      <name>CraftHistoryDeleteConfirmation</name>
      <position>
        <x>0</x>
        <y>0</y>
        <z>0</z>
      </position>
      <active>true</active>
    </UIData>
    <UIData>
      <name>CraftHistoryModalWindow</name>
      <position>
        <x>190.2</x>
        <y>-131</y>
        <z>0</z>
      </position>
      <active>false</active>
    </UIData>
  </uiElements>
  <isShips>true</isShips>
  <isVAB>false</isVAB>
  <sortOption>Name</sortOption>
  <backupInterval>OnSave</backupInterval>
  <showSettings>false</showSettings>
  <ascending>true</ascending>
  <disableHistory>false</disableHistory>
  <backupDelay>10</backupDelay>
  <hideUnloadable>false</hideUnloadable>
  <uiScale>100</uiScale>
  <isStock>false</isStock>
</Settings>