# Final Frontier Ribbon Pack 
#
# Syntax of file:
# ---------------
# NAME:<name of ribbon pack>
# FOLDER:<folder containing ribbons>
# BASE:<base for ribbon IDs (optional, default: 0)>
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# <ribbon ID>:<filename without suffix>:<name of ribbon>:<description>[:<prestige (defaults to ID)>]
# [...]
#
# Do not use any <Ribbon ID> twice even its is used by another ribbon pack.
#
# If a base for this ribbon pack is set, all IDs are offsets from this base. If a ribbon gets ID 17 and the BASE is set to 7000, the used ID is 7017.
#
# Do not use IDs below 1001!
#

NAME:Toonu Empire Awards
FOLDER:Ribbons
BASE:9000
1:Toonu:Order of Wolfram 1st class:Highest Toonu Empire Award of loyalty and bravery.:1
2:ToonuA:Order of Wolfram 2nd class:Very prestige award of Toonu Empire.:2
3:ToonuB:Order of Golden Eagle 1st class:Most prestige Eagle award in the whole Empire!:3
4:ToonuC:Order of Golden Eagle 2nd class:Prestige Eagle award for bravery and loyalty!:4
4:ToonuD:Order of Golden Eagle 3rd class:Toonu Empire award for bravery!:4